- if can? :view, fortune
  %div[fortune]{:class => cycle("odd", "even", :name => "fortunes")}
    = link_to fortune.fortune, fortune_path(fortune), :class => "title"
    .info
      .byline!= "by #{fortune.display_name} on #{fortune.created_date}"
      - if can? :edit, fortune
        %span.published= "[ #{fortune.published_state} ]"
    .clear
    -# .comments= comments_link(fortune)
