- if can? :view, fortune
  %div[fortune]{:class => cycle("odd", "even", :name => "fortunes")}
    = link_to fortune.fortune, fortune_path(fortune), :class => "title"
    .info
      - if can? :edit, fortune
        .published= fortune.published_state
      .author.date.active_category!= "published by #{fortune.author_name} on #{fortune.created_date}"
    .clear
    -# .comments= comments_link(fortune)
    -# - if fortune.featured_image
    -#   .featured_image= image_tag fortune.featured_image.asset.large.url
    -# .clear
