= stylesheet_link_tag "fortunes"

%div[@fortune]
  %h4
    = link_to @fortune.fortune, @fortune, :class => "title"
    .info
      .byline!= "by #{@fortune.display_name} on #{@fortune.created_date}"
      - if can? :manage, @fortune
        %span.published= "[ #{@fortune.published_state} ]"

  .resource_links
    - if can? :edit, @fortune
      = link_to "Edit", edit_fortune_path(@fortune), :class => "edit"
    - if can? :destroy, @fortune
      = button_to "Delete", @fortune, :method => :delete, :class => :destroy

-# #comments
-#   %h2 Comments
-#   = render :partial => @comments
-#   - if current_user and can? :create, @comment
-#     = form_for [@fortune, @comment] do |f|
-#       .fields
-#         = f.label :body, "Comment"
-#         = f.text_area :body
-#       = f.submit
