%html
  %head
    %title Snakewise 
    = stylesheet_link_tag "layouts/application"
    = stylesheet_link_tag "errors"
    = stylesheet_link_tag "forms"
    = stylesheet_link_tag "nav"
    = stylesheet_link_tag "flash"
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Ubuntu|Droid+Serif"
    = javascript_include_tag "jquery"
    = javascript_include_tag "plugins/autofade.jquery"
    = javascript_include_tag "plugins/autoscroll.jquery"
    = javascript_include_tag "application"
    = javascript_include_tag "flash"
    = javascript_include_tag "nested_form"
    = csrf_meta_tag
  %body
    = auto_discovery_link_tag :atom, feed_headlines_path
    %a#branding{:href => "/"}
      .title Snakewise
      .subtitle The Wisest of All Snakes.
    .clear
    #sidebar
      #navigation= render :partial => "nav/primary"
      #session= render :partial => "layouts/session"
    #flash!= show_flash
    #content
      #primary= yield
